language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
install:
  - pip install -r test-requirements.txt
  - python setup.py install
script:
  - py.test -sv tests
branches:
  except:
    - dev
